<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes - Inicio</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <header>
        <h1>HEROES</h1>
    </header>
    
    <main class="main__home">

        <section class="card">
            <a href="babbage"><img class="image" src="/img/babbage.jpg" alt=""></a>
            <h3>BABBAGE</h3>
        </section>

        <section class="card">
            <a href="berners-lee"><img class="image" src="/img/berners-lee.jpg" alt=""></a>
            <h3>BERNERS-LEE</h3>
        </section>

        <section class="card">
            <a href="clarke"><img class="image" src="/img/clarke.jpg" alt=""></a>
            <h3>CLARKE</h3>
        </section>

        <section class="card">
            <a href="hamilton"><img class="image" src="/img/hamilton.jpg" alt=""></a>
            <h3>HAMILTON</h3>
        </section>

        <section class="card">
            <a href="hopper"><img class="image" src="/img/hopper.jpg" alt=""></a>
            <h3>HOPPER</h3>
        </section>

        <section class="card">
            <a href="lovelace"><img class="image" src="/img/lovelace.jpg" alt=""></a>
            <h3>LOVELACE</h3>
        </section>

        <section class="card">
            <a href="turing"><img class="image" src="/img/turing.jpg" alt=""></a>
            <h3>TURING</h3>
        </section>

    </main>
        
</body>

</html>